body {
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.section {
    padding: 0 400px;
}

.header {
    align-items: center;
    flex-wrap: wrap;
}

ul {
    padding: 0;
    list-style-type: none;
    margin-left: auto;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7Eb;
    font-size: 18px;
}

.section.top, .footer {
    background-color: #1F2937;
}

.logo {
    color: #F9FaF8;
    font-size: 24px;
}

body, .header, ul, .main-title, .image-container, .upper-middle, .call-container {
    display: flex;
}

.main-title {
    align-items: center;
    gap: 96px;
    padding: 96px 0;
}

.main-title img {
    width: 1000px;
    height: 250px;
    object-fit: cover;
    object-position: 75% 20%;
    border-radius: 8px;
}

.hero {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.hero-lower {
    font-size: 18px;
    color: #E5E7Eb;
}

button {
    background-color: #3882F6;
    padding: 10px 36px;
    color: white;   
    border-radius: 8px;
    border: 0;
    margin: 16px 0;
    font-weight: bold;
    flex-shrink: 0;
    font-size: 16px;
}

button:active {
    background:#004bc4;
}

.image-container {
    align-items: baseline;
    margin-bottom: 128px;
}

.image-caption {
    margin: 0 32px;
}

.image-caption > img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 16px;
    border: 4px solid #3882F6;
}

.strawberry {
    object-position: 0;
}

.image-caption > .text {
    font-size: 18px;
    color: #1F2937;
    text-align: center;
    margin: 8px;
}

.random-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 48px;
}

.upper-middle {
    flex-direction: column;
    align-items: center;
}

.lower-middle {
    background-color: #E5E7Eb;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quote-source {
    text-align: right;
    font-weight: bold;
    font-size: 28px;
}

.quote-container {
    padding: 110px 0;
    color: #1F2937;
}

.call-container {
    background-color: #3882F6;
    padding: 48px 128px;
    border-radius: 8px;
    margin: 110px 0;
    align-items: center;
}

.sign-up-bottom {
    border: 2px white solid;
    margin-left: auto;
}

.call {
    color:#F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.call-lower {
    color:#E5E7Eb;
    font-size: 16px;
}